<IfModule mod_rewrite.c>
    RewriteEngine On
    
    Options -Indexes
    RewriteRule ^(vendor|composer\.|app|src|config|storage|tests)\/ - [F]
    RewriteRule ^\.env$ - [F]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>