@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-abhaya: "Abhaya Libre", serif;
    --color-v1: oklch(78.74% 0.172 69.12);
    --color-v2: oklch(62.80% 0.258 29.23);
    --color-v3: oklch(31.59% 0.050 278.43);
    --color-v4: oklch(98.13% 0.010 238.51);
    --color-v5: oklch(97.81% 0.023 84.59);
    --color-v6: oklch(88.13% 0.114 80.63);
    --color-v7: oklch(84.58% 0.144 78.57);
}